<div class="container">
 
  <div class="row">
    <div class="col-6">
    <table class="table caption-top">
  <caption class="font-weight-bold"> Dealer's Service Retention</caption>
  <thead class="table-dark fs-6 ">
    <tr>
      <th scope="col"> State Name</th>
      <th scope="col">3P Code</th>
      <th scope="col">Dealer Ship Name</th>
      <th scope="col">Total Tractors</th>
      <th scope="col"> AAU Value</th>
    </tr>
  </thead>
  <div class="text-center" >
<p >No Data Available</p>
</div>
</table>
    </div>
    <div class="col-6">
    <table class="table caption-top">
  <caption class="font-weight-bold">Achievement</caption>
  <thead class="table-dark">
    <tr>
      <th scope="col">Waranty Status</th>
      <th scope="col">Required</th>
      <th scope="col">Achieved</th>
      <th scope="col">% Achieved</th>
      
    </tr>
  </thead>
   <div class="text-center" >
<p >No Data Available</p>
</div>


</table>
<br>
  <table class="table caption-top">

  <thead class="table-dark">
    <tr>
      <th scope="col">Waranty Status</th>
      <th scope="col">Required</th>
      <th scope="col">Achieved</th>
      <th scope="col">% Achieved</th>
      
    </tr>
  </thead>

</table>
    
    
    </div>
  </div>
</div>