<div class="container">

    <div class="row">
        <caption class="font-weight-bold">Summary</caption>
        <div class="row row-cols-1 row-cols-md-3 g-4">

            <div class="col">
                <div class="card h-100">
                    <div class="card-body">
                        <h6 class="card-title">SERVICE RETENTION TARGET </h6>
                        <p class="card-text">0 </div>

                </div>
            </div>
            <div class="col">
                <div class="card h-100">

                    <div class="card-body">
                        <h6 class="card-title">SERVICE RETENTION ACHIEVED</h6>
                        <p class="card-text">0 </div>

                </div>
            </div>
            <div class="col">
                <div class="card h-100">

                    <div class="card-body">
                        <h6 class="card-title">Achieved Percentage</h6>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>