
<div class="card">
    <div class="card-body">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 font-weight-bold">Service Managment/Service Retention Report</div>
                <div class="col-sm-4">
                    <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
                    <option selected>Dealer</option>
                    <option value="1">Dealer One</option>
                    <option value="2">Dealer Two</option>
                    <option value="3">Dealer Three</option>
                  </select></div>
            </div>
        </div>
    </div>
</div>